@import url("../../style/style.css");

.card-btn-main {
  background-color: var(--secondary-color);
  color: var(--white);
  border: 2px solid var(--secondary-color);
  word-break: break-word;
  max-width: 7rem;
  height: 2.8rem;
}
.card-btn-second {
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  word-break: break-word;
  max-width: 7rem;
  height: 2.8rem;
}

.singleproduct__btn_section {
  margin: auto;
}

.singleproduct__btn {
  width: 12rem;
  padding: 0.6rem 0.8rem;
}

.fa-star {
  color: var(--txt-green);
}
