@import url("../../style/style.css");

.card-btn-main,
.card-btn-second {
  word-break: break-word;
  width: 7rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn-main {
  background-color: var(--secondary-color);
  color: var(--white);
  border: 2px solid var(--secondary-color);
}
.card-btn-second {
  border: 2px solid var(--secondary-color);
  background-color: transparent;
}

.singleproduct__btn_section {
  margin: auto;
}

.singleproduct__btn {
  width: 12rem;
  padding: 0.6rem 0.8rem;
}

.fa-star {
  color: var(--txt-green);
}
