@import url("../../style/style.css");
/* Heading */
.heading {
  padding: 0.8rem 1.6rem 0 1.6rem;
}

/* Main content */
.product-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "product-filter main-product";
}

/* Filter section */
.product-filter {
  grid-area: product-filter;
  position: sticky;
  top: 5rem;
  align-self: flex-start;
  text-align: left;
  overflow: auto;
  height: 80vh;
  width: 12rem;
}

.main-product-page {
  grid-area: main-product;
}

.mobilefilter-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.2rem;
  display: none;
}

.mobile-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
}

.mobile-filter {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 14rem;
  text-align: left;
  font-size: 1.2rem;
  overflow: scroll;
  padding: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .product-filter {
    display: none;
  }

  .mobilefilter-btn {
    display: initial;
  }
}
