@import url("./utils.css");
@import url("./variables.css");

/* Common styles for the app */

/* Button */
button:hover {
  cursor: pointer;
}
.main-btn {
  background-color: var(--secondary-color);
}
.btn-card:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

/* Card image container */
.card-img {
  border-radius: 8px;
  height: 20rem;
  overflow: hidden;
  width: 15rem;
}
.category-section .card-horiz {
  max-height: unset;
}

/* Image inside card */
.responsive-img {
  width: 100%;
  height: 100%;
  padding: 0;
}
.inline-block-elem {
  display: inline-block;
}
.card .square-card {
  height: fit-content;
}

/* Loader container */
.loader_container {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.hr {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}
