:root {
  --primary-color: #f8e5e5;
  --secondary-color: #fa255e;
  --light-shade-background: #c39ea0;
  --white: #ffffff;
  --black: #000000;
  --shadow-color: #a3aaaf;
  --light-grey: #ededed;
  --gradient-start-color: #f8d4d8;
  --background-grey: #e8e8e8;
  --dark-grey: #787878;
  --secondary-btn-color: #f8b4c6;
  --dark-secondary-btn: #ec84a0;
  --black: #000000;
  --white: #ffffff;
  --error-txt: #a30000;
}
