:root {
    --primary-color:#F8E5E5;
    --secondary-color:#FA255E;
    --light-shade-background:#C39EA0;
    --white:#FFFFFF;
    --black:#000000;
    --shadow-color:#A3AAAF;
    --light-grey:#ededed;
    --gradient-start-color:#F8D4D8;
    --background-grey:#E8E8E8;
    --dark-grey:#787878;
    --secondary-btn-color:#f8b4c6;
    --dark-secondary-btn:#ec84a0;
    --black:#000000;
    --white:#FFFFFF;
}