@import url('../../style/style.css');

.empty-page-img {
  margin: auto;
  max-height: 20rem;
}
.empty-page-heading {
  font-size: 1.2rem;
}


@media only screen and (max-width:520px) {
  .empty-page-img {
    max-height: 16rem;
  }
}
